@use 'sass:color';
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

body {
  font-family: var(--font-primary);
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--color-text);
}

.site-header {
  padding: 0rem 0;
  background: #ffffff;
  margin-bottom: 0px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

  }

  .site-branding {
    .site-logo {
      img {
        max-height: 131px;
        width: auto;
        display: block;
      }
    }
  }
}

.site-branding {
  @include flex(column, center, flex-start);
}

.site-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: $spacing-xs;
  
  a {
    color: $color-dark;
    
    &:hover {
      color: $color-primary;
    }
  }
  
  @include respond-to(sm) {
    font-size: 1.25rem;
  }
}

.site-description {
  font-size: 0.875rem;
  color: color.adjust($color-text, $lightness: 20%);
} 