@use 'sass:color';
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--color-text);
}

.site-header {
  padding: 0rem 0;
  background: #ffffff;
  margin-bottom: 0px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .site-branding {
    .custom-logo {
      max-height: 131px;
      width: auto;
      display: block;
      
      @include respond-to(md) {
        max-height: 80px;
      }
    }
  }
  
  @include respond-to(md) {
    .menu-toggle {
      right: 20px !important;
      left: auto !important;
    }
  }
}

.site-branding {
  @include flex(column, center, flex-start);
}

.site-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: $spacing-xs;
  
  a {
    color: $color-dark;
    
    &:hover {
      color: $color-primary;
    }
  }
  
  @include respond-to(sm) {
    font-size: 1.25rem;
  }
}

.site-description {
  font-size: 0.875rem;
  color: color.adjust($color-text, $lightness: 20%);
}

// Floating Contact Button
.contact-us-floating-link {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1000;
  background: $color-gold;
  padding: 80px 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-light;
  font-weight: 100;
  font-size: 1rem;
  transition: all 0.3s ease;
  writing-mode: vertical-rl;
  text-orientation: mixed;

  &:hover {
    background: $color-light;
    color: $color-text;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
  }

  @include respond-to(md) {
    writing-mode: horizontal-tb;
    text-orientation: initial;
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px 15px;
    text-align: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  }
}